          <!-- project footer -->
          <div class="project-comments bg-light p-5">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <div class="row">
                  <div class=" col-2" routerLink="/profile">
                    <img src="{{apiUrl+currentUser.image?apiUrl+currentUser.image:'assets/img/accounts/a1.png'}}" class=" rounded-circle account-img pointer"/>
                  </div>
                  <form class="col-10" [formGroup]="form" (ngSubmit)="createComment()">
                    <textarea class="form-control mb-1" rows="4" formControlName="body"></textarea>
                    <div class="w-100 text-end">
                      <button type="submit" class="btn btn-primary ">إضافة تعليق</button>
                    </div>
                </form>
                </div>
                <hr/>
                <!-- comment element -->
                <div class="comment-element mb-2" *ngFor="let comment of comments">
                  <img src="{{apiUrl+comment.user.image}}" class=" rounded-circle account-img me-2 pointer" routerLink="/profile/{{comment.user_id}}"/>
                  <div class="">
                    <h6 class="pointer" routerLink="/profile/{{comment.user_id}}"><strong>{{comment.user.first_name}} {{comment.user.last_name}}</strong></h6>
                    <p class="text-muted">{{comment.body}}</p>
                  </div>
                </div>
                <!-- end comment element -->
              </div>

              <!-- to be -->
              <div class="col-md-8 col-sm-12">
                
              </div>
            </div>
          </div>
          <!-- end project footer -->